* {
  text-decoration: none;
}
body {
  font-family: "Monterrat", sans-serif;
}

/* nav bar */

.logo {
  display: flex;
  flex-direction: row;
}

.iron-logo {
  margin-top: 1px;
  padding: 20px;
  height: 80px;
}

.madeby {
  margin-top: 51px;
  padding-bottom: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9b9b9b;
  padding: 0 20px;
}

#nav-buttons {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 190px;
  color: white;
}

.madeby {
  color: white;
}

.logout-button {
  text-decoration: none;
  color: white;
}

/* lead filter */

.toggle {
  display: flex;
  align-items: center;
  margin: 15px;
}

/* search bar */

.search {
  margin-left: 15px;
}

/* add */

.add-contact {
  margin-bottom: -1px;
  margin-left: 15px;
}

.add-field {
  display: flex;
  flex-direction: column;
  position: relative; 
  width: 50%;
  margin-left: 15px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* contact type - leadform, leadcounter */

.btn {
  width: 25%;
  margin-left: 15px;
}

.options-label {
  margin-left: 15px;
}

.container {
  padding-left: 15px;
}